* {
  font-family: arial, sans-serif;
  margin: 0;
}

#root {
padding: 0;
}


body,
body > div {
  height: 100vh;
  width: 100vw;
  background-color: #F1FFE7;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#footer {
  display: flex; 
  align-items: flex-end;
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #b05f6d;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: #F1FFE7;
  color: black;
}

.green {
  background-color: green;
  color: whitesmoke;
}

.link {
  color: blueviolet;
  text-decoration: none;
  font-size: 22px;
}

